" ───────────────────────────────────────────────────────────────────────────
" Symlink helper:
"   ln -s ~/dotfiles/.ideavimrc ~/.ideavimrc
" ───────────────────────────────────────────────────────────────────────────

source ~/.vimrc
let mapleader = ' '

" ───────────────────────── Plugins (IdeaVim features) ─────────────────────
Plug 'machakann/vim-highlightedyank'

set multiple-cursors
set surround
set commentary
set ideajoin
set vim-paragraph-motion
set textobj-indent
set NERDTree
set easymotion
set which-key

" Which‑Key responsiveness
set notimeout

" Search
set ignorecase
set smartcase
set incsearch

" UI
set nu
" set showmode

" ─────────────────────────── Plugin settings ───────────────────────────────
let g:argtextobj_pairs = "[:],(:),<:>"

let g:WhichKey_ShowVimActions = "true"
let g:WhichKey_PrefixStyle    = "bold"
" let g:WhichKey_KeyColor     = "blue"
" set timeoutlen=5000  " If you prefer timeout instead of notimeout

" EasyMotion
let g:EasyMotion_do_mapping = 0          " Disable default mappings
let g:EasyMotion_smartcase  = 1          " Case-aware jumps

" ─────────────────────────── Window / Tools ────────────────────────────────
nnoremap <leader>z :action ToggleDistractionFreeMode<CR>
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>
nnoremap <leader><leader>t :action HideActiveWindow<CR>

" ───────────────────────────── Popups / Menus ──────────────────────────────
nnoremap <leader>ps :action FileStructurePopup<CR>
nnoremap <leader>pg :action Generate<CR>
nnoremap <leader>pm :action ShowPopupMenu<CR>

" ───────────────────────────── Search / Goto ───────────────────────────────
nnoremap <leader>ga :action GotoAction<CR>
nnoremap <leader>gc :action GotoClass<CR>
nnoremap <leader>gf :action GotoFile<CR>
nnoremap <leader>gs :action GotoSymbol<CR>

" ─────────────────────────────── Jump / Nav ────────────────────────────────
nnoremap ]e :action GotoNextError<CR>
nnoremap [e :action GotoPreviousError<CR>
nnoremap <leader>w :action ShowErrorDescription<CR>

nnoremap <leader>s :action SelectInProjectView<CR>
nnoremap <leader>b :action Back<CR>
nnoremap <leader>gD :action GotoDeclaration<CR>
nnoremap <leader>p :action GotoFile<CR>
nnoremap <leader>f :action Forward<CR>

nnoremap gi :action GotoImplementation<CR>
nnoremap gS :action GotoSuperMethod<CR>
nnoremap ]] :action MethodDown<CR>
nnoremap [[ :action MethodUp<CR>

nnoremap <leader>q :NERDTreeFind<CR>

" ───────────────────────────── Refactorings ────────────────────────────────
nnoremap <leader>.  :action ShowIntentionActions<CR>
nnoremap <leader>r  :action ReformatCode<CR>
nnoremap <leader>rn :action RenameElement<CR>
nnoremap <leader>cs :action ChangeSignature<CR>

nnoremap <leader>ev :action ExtractVariable<CR>
nnoremap <leader>em :action ExtractMethod<CR>
nnoremap <leader>ef :action ExtractField<CR>
nnoremap <leader>ep :action ExtractParameter<CR>
nnoremap <leader>oi :action OptimizeImports<CR>
" nnoremap <leader>rf :action ReformatCode<CR>

" Docs / info
nnoremap K :action QuickJavaDoc<CR>
nnoremap gI :action QuickImplementations<CR>

" ───────────────────────────── EasyMotion ──────────────────────────────────
nmap <leader>j <Plug>(easymotion-j)
nmap <leader>k <Plug>(easymotion-k)
nmap <leader>F <Plug>(easymotion-bd-f)
" nmap <leader>w <Plug>(easymotion-overwin-w)
" nmap <leader>s <Plug>(easymotion-overwin-f2)
" nmap <leader>f <Plug>(easymotion-f)
" nmap <leader>F <Plug>(easymotion-F)
" nmap <leader>j <Plug>(easymotion-s)

" ───────────────────────── Multiple cursors ────────────────────────────────
nmap <C-n> <Plug>NextWholeOccurrence

" ───────────────────────── Convenience / Editing ───────────────────────────
nnoremap <leader>o :action FileStructurePopup<CR>
nnoremap zj o<Esc>k
nnoremap zk O<Esc>j
nnoremap Q  gq

" ─────────────────────────────── VCS / Debug ───────────────────────────────
nnoremap <leader>pu :action Vcs.Push<CR>
nnoremap <leader>d  :action Debug<CR>
" nnoremap <leader>b :action ToggleLineBreakpoint<CR>

" ──────────────────────────────── Help refs ────────────────────────────────
" .ideavimrc uses Vim-like syntax:
"   Docs: https://jb.gg/h38q75
"   Map IDE actions: https://jb.gg/abva4t
"   Examples: https://jb.gg/share-ideavimrc

"   map <leader>m :action ToggleMaximizeEditorWindow<CR>
   map <leader>9 <Action>(com.testoutputselector.FocusTestRunnerAction)
